@font-face {
   font-family: 'Agrandir-GrandHeavy';
   src: url(/font/Agrandir-GrandHeavy.otf);
 }
body{
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   min-height: 100vh;
   color: black;
}
.card-title {
   font-family: 'Agrandir-GrandHeavy';
 }
.form-control:focus {
   box-shadow: none !important;
   /* Desativar as bordas do Focus ring */
 }
/* Button Custom */
.btn-primary{
   background-color: #2b2b2b !important;
   border: none !important;
   color: #ffffff !important ;
} 
 